 body {
   background-color: hsla(49, 100%, 86%, 0.97);
 }
 
 /* header styling */
  .shoryu {
      width: 100px;
      height: 90px;
      margin: 0;
  }
 
  .logoBox > img{ 
      height: 100%;
      width: 100%;
      margin-left: 1%;
      border: 1px solid black;
      animation-name: moveLogo;
      animation-duration: 5s;
  }
  @keyframes moveLogo {
    0% {
      transform: scale(.1);
    }
    100% {
      transform: scale(1.3);
    }
  }
  .titleBox {
      height: 100%;
      width: 72%;
      margin-left: 10%;
      margin-top:-10px;
      animation-name: moveTitle;
      animation-duration: 4s;
      animation-timing-function: linear;
      /* text-align: center; */
    }
    h1 {
      font-size: 48px;
      font-family: fantasy;
      font-weight: 900;
      text-decoration: underline;
    }
    @keyframes moveTitle {
      0% {transform: scale(.1)}
      33% {transform:scale(.3)}
      66% {transform:scale(.6)}
      99% {transform:scale(1)}
    }
  .header img {
      float: left;
      width: 100px;
      height: 100px;
      /* float: left; */
  }
  .header {
    position: relative;
    top: 18px;
    left: -5px;
    margin: 0;
    padding: 0;
  }
  .headerPic {
      width: 100%;
      height: 20px;
      margin:0;
      background-color: black;
      color: white;
      text-align: center;
  }
  /* slideshow style */
  #slideshow {
    overflow: hidden;
    height: 60px;
    width: 100%;
    /* margin: 0 auto; */
}
.slide {
    float: left;
    height: 60px;
    width: 50%;
    text-align: center;
    padding-top: 20px;
    
}
.slide-wrapper {
    width: 200%;
    animation: slide 12s ease-in 1;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.slide:nth-child(1) {
    background: royalblue;
    color: white
}
.slide:nth-child(2) {
    background: crimson;
    color: white;
}

@keyframes slide {
  0% {margin-left: 0px;}
  50% {margin-left: -100%; }
  /* 66% {margin-left: -150%;} */
  100% {margin-left: -200%;}
}



/* main pic styling */
  .backPicBox{
      width: 300px;
      position: relative;
      padding: 2%;
      top: 60%;
      left: 50%;
      color: black;
      border: 1px solid lawngreen;
  }
  .backPic {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-top: -1000px;
      margin: 0;
      background-image: url('/picsProject2/hado.webp');
      background-repeat: no-repeat;
      background-size: 100% auto;
  }
  .twoByone {
      /* display: block; */
      margin: 760px 50px 0px 20%;
      width: 90%;
      height: 250px;
      
  }
 /* .square img {
     position: inherit;
     height: 100%;
     width: 100%;
     border: 2px solid white;
 } */
 .ewgf {
  background-image: url(picsProject2/ewgf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }
.square {

    width: 35%;
    margin: auto;
    height: 100%;
    float: left;
    background-color: maroon;
    margin-right: 5px;
}
.rightSquare {
  padding: 1%;
  color: white;
}
  
  /* modal window styling */
  .container {
      margin-top: 5%;;
      position: absolute;
      width: 100%;
      height: fit-content;
      background-color:burlywood;
      text-align: center;
  }
 .box { 
    /* display: block; */
    width: 30%;
    height: fit-content;
    margin: 15px 0 15px 30px;
    /* background: rgba(255,255,255,0.2); */
    padding: 3px;
    /* border: 2px solid #fff; */
    /* border-radius: 20px/50px; */
    /* background-clip: padding-box; */
    text-align: center;
    float: left;
  }
  
  .button {
    position: relative;
    top: 0px;
    left: 39%;
    font-size: 10px;
    padding: 10px;
    color: #000;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  .b2, .b1, .b3 {
      display: block;
      float: left;
      margin: 0;
  }
  .game{
      position: inherit;
      top: 5px;
      left: -50px;
      width: 30%;
      height: auto;
      border-radius: 10%;
      text-align: center;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
  }
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .popup img {
      height: 200px;
      width: 25%;
  }
  

  footer {
      height: 400px;
      width: 100%;
      margin-top: 440px;
      background-color: black;
      color: white;
  }
  .foo {
    color: white;
  }
 table {
   width: 100%;
   margin: auto;
   padding: 1%;
   text-align: center;
   line-height: 40px;
 }
 td {
  line-height: 15px;
 }
 a {
   text-decoration: none;
   color:white;
 }
 a:hover {
  background-color:skyblue;
  color: gray;
}
  hr {
    width: 85%;
  }
  .connectBox {
    width: fit-content;
    float: right;
    margin-right: 5px;
    padding: 1%;
    border: 2px solid red;
  }
  .socials {
    margin: 1%;
    margin-top: 25px;
    padding: 2%;
    float: right;
  }
  .who {
    margin: auto;
    margin-top: 150px;
    font-size: 12px;
    width: fit-content;
  }
  @media screen and (max-width: 1000px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }